In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression,RidgeCV
from sklearn.model_selection import *
from sklearn.preprocessing import *
from sklearn.svm import SVR
from sklearn.decomposition import *
from sklearn.metrics import mean_squared_error,make_scorer
import matplotlib.pyplot as plt

In [2]:
df = pd.read_pickle('../normalDataFromAngeloWithHDI.pickle')
df.head()

,State,HDI,awards_per_value,exp_award_value,High_School_Fee,Elementary_School_Fee,Colleges_universities_per_1000000,Junior_colleges_per_1000000,Prof_schools_per_1000000,Intensive_top_230_score,...,Property_crime,Burglary,Theft,Motor_Vehicle_theft,Per_capita_income,Price_2018_Studio,Price_2018_1br,Price_2018_2br,Price_2018_3br,Price_2018_4br
1,alabama,0.882,19.514493,63013.173913,7718.0,6388.0,8.636111,7.402381,3.289947,75.257541,...,2947.8,700.5,2006.3,241.1,38215.0,605.416667,659.000000,800.666667,1069.666667,1244.333333
2,alaska,0.942,18.414286,141431.142857,6118.0,7544.0,8.087409,1.347901,2.695803,39.089142,...,3353.0,546.3,2394.7,412.1,54430.0,814.333333,930.500000,1190.333333,1682.166667,2019.500000
3,arizona,0.912,25.563492,47830.888889,17339.0,6283.0,6.636781,6.203947,6.059670,30.154070,...,2978.4,544.4,2168.1,265.8,39955.0,701.000000,828.000000,1046.000000,1512.333333,1754.416667
4,arkansas,0.882,21.970833,51132.479167,6680.0,4698.0,8.700750,8.700750,10.708616,32.125848,...,3268.6,795.5,2233.6,239.4,39171.0,524.666667,571.166667,721.416667,977.583333,1144.833333
5,california,0.934,22.771429,63022.202857,19317.0,11363.0,6.726112,4.866240,6.089169,78.063660,...,2553.0,479.8,1623.0,450.3,54800.0,1212.333333,1426.333333,1818.916667,2519.250000,2926.333333

In [3]:
States = df.State.tolist()
X = df.drop(["State", "HDI"], axis = 1)
y = df.HDI
X.head()

,awards_per_value,exp_award_value,High_School_Fee,Elementary_School_Fee,Colleges_universities_per_1000000,Junior_colleges_per_1000000,Prof_schools_per_1000000,Intensive_top_230_score,Life_Expectancy,mc_donalds_per_100k,...,Property_crime,Burglary,Theft,Motor_Vehicle_theft,Per_capita_income,Price_2018_Studio,Price_2018_1br,Price_2018_2br,Price_2018_3br,Price_2018_4br
1,19.514493,63013.173913,7718.0,6388.0,8.636111,7.402381,3.289947,75.257541,74.813987,5.0,...,2947.8,700.5,2006.3,241.1,38215.0,605.416667,659.000000,800.666667,1069.666667,1244.333333
2,18.414286,141431.142857,6118.0,7544.0,8.087409,1.347901,2.695803,39.089142,78.915541,4.2,...,3353.0,546.3,2394.7,412.1,54430.0,814.333333,930.500000,1190.333333,1682.166667,2019.500000
3,25.563492,47830.888889,17339.0,6283.0,6.636781,6.203947,6.059670,30.154070,78.364742,4.1,...,2978.4,544.4,2168.1,265.8,39955.0,701.000000,828.000000,1046.000000,1512.333333,1754.416667
4,21.970833,51132.479167,6680.0,4698.0,8.700750,8.700750,10.708616,32.125848,75.626900,5.8,...,3268.6,795.5,2233.6,239.4,39171.0,524.666667,571.166667,721.416667,977.583333,1144.833333
5,22.771429,63022.202857,19317.0,11363.0,6.726112,4.866240,6.089169,78.063660,80.231014,3.3,...,2553.0,479.8,1623.0,450.3,54800.0,1212.333333,1426.333333,1818.916667,2519.250000,2926.333333

In [4]:
scaler_x = MinMaxScaler()
scaler_y = MinMaxScaler()
X_scaled = scaler_x.fit_transform(X.values)
Y_scaled = scaler_y.fit_transform(y.values.reshape(-1,1))

# Linear Regression

In [5]:
linReg = LinearRegression()
Y_pred_scaled = cross_val_predict(linReg,X_scaled,Y_scaled,cv=5)
Y_pred = scaler_y.inverse_transform(Y_pred_scaled)
print("R2 value =  {} ".format(1 - mean_squared_error(Y_pred,y)/np.std(y)))

R2 value =  0.9725698807776677

In [6]:
linRegNorm = LinearRegression(normalize=True)
Y_pred_scaled = cross_val_predict(linRegNorm,X_scaled,Y_scaled,cv=5)
Y_pred = scaler_y.inverse_transform(Y_pred_scaled)
print("R2 value =  {}".format(1 - mean_squared_error(Y_pred,y)/np.std(y)))

R2 value =  0.9725698807776563

#### With normalized inputs

### adding polynomial augmentation

In [7]:
poly = PolynomialFeatures(2)
X_poly = poly.fit_transform(X_scaled)
Y_pred_scaled = cross_val_predict(linReg,X_poly,Y_scaled,cv=5)
Y_pred = scaler_y.inverse_transform(Y_pred_scaled)
print("R2 value =  {}".format(1 - mean_squared_error(Y_pred,y)/np.std(y)))

R2 value =  0.9950324662601138

In [8]:
Y_pred_scaled = cross_val_predict(linRegNorm,X_poly,Y_scaled,cv=5)
Y_pred = scaler_y.inverse_transform(Y_pred_scaled)
print("R2 value =  {}".format(1 - mean_squared_error(Y_pred,y)/np.std(y)))

R2 value =  0.9755962484039037

#### With normalized inputs

So we have a tendency to overfit

# Ridge Regression

In [9]:
alphas = np.arange(0.01,10,0.01)
regr_cv = RidgeCV(alphas=alphas,fit_intercept=True,cv=5)
model_cv = regr_cv.fit(X_scaled, Y_scaled)
Y_pred_scaled = model_cv.predict(X_scaled)
Y_pred = scaler_y.inverse_transform(Y_pred_scaled)
print("R2 value =  {}".format(1 - mean_squared_error(Y_pred,y)/np.std(y)))

R2 value =  0.9987759717793506

/home/harshv834/anaconda3/envs/ada/lib/python3.7/site-packages/sklearn/model_selection/_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

#### With normalized inputs

In [10]:
regr_cv_norm = RidgeCV(alphas=alphas,fit_intercept=True,cv=5,normalize=True)
model_cv_norm = regr_cv_norm.fit(X_scaled, Y_scaled)
Y_pred_scaled = model_cv_norm.predict(X_scaled)
Y_pred = scaler_y.inverse_transform(Y_pred_scaled)
print("R2 value =  {}".format(1 - mean_squared_error(Y_pred,y)/np.std(y)))

R2 value =  0.9984426203713015

/home/harshv834/anaconda3/envs/ada/lib/python3.7/site-packages/sklearn/model_selection/_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

### adding polynomial augmentation

In [11]:
model_cv = regr_cv.fit(X_poly, Y_scaled)
Y_pred_scaled = model_cv.predict(X_poly)
Y_pred = scaler_y.inverse_transform(Y_pred_scaled)
print("R2 value =  {}".format(1 - mean_squared_error(Y_pred,y)/np.std(y)))

R2 value =  0.9996640192673864

/home/harshv834/anaconda3/envs/ada/lib/python3.7/site-packages/sklearn/model_selection/_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [12]:
model_cv_norm = regr_cv_norm.fit(X_poly, Y_scaled)
Y_pred_scaled = model_cv_norm.predict(X_poly)
Y_pred = scaler_y.inverse_transform(Y_pred_scaled)
print("R2 value =  {}".format(1 - mean_squared_error(Y_pred,y)/np.std(y)))

R2 value =  0.9974854497806115

/home/harshv834/anaconda3/envs/ada/lib/python3.7/site-packages/sklearn/model_selection/_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

# SVR

In [13]:
parameters = {'kernel' :['rbf','linear','sigmoid','poly'],'C' : np.exp(np.arange(-6,6))}
estimator = SVR(gamma = 'auto')
clf = GridSearchCV(estimator,parameters,cv = 5,iid=True)
clf.fit(X_scaled, Y_scaled.reshape(-1,))
Y_pred_scaled = clf.predict(X_scaled).reshape(-1,1)
Y_pred = scaler_y.inverse_transform(Y_pred_scaled)
print("R2 value =  {}".format(1 - mean_squared_error(Y_pred,y)/np.std(y)))

R2 value =  0.9979270892865502

In [14]:
pca = PCA(n_components = 5)
X_pca = pca.fit_transform(X_scaled)
print("Explained Variance Ratio {}".format(100.0*np.sum(pca.explained_variance_ratio_)))
Y_pred_scaled = cross_val_predict(linReg,X_pca,Y_scaled,cv=5)
Y_pred = scaler_y.inverse_transform(Y_pred_scaled)
print("R2 value =  {} ".format(1 - mean_squared_error(Y_pred,y)/np.std(y)))

Explained Variance Ratio 81.14995449697237
R2 value =  0.993802150755986

In [15]:
Y_pred_scaled = cross_val_predict(linRegNorm,X_pca,Y_scaled,cv=5)
Y_pred = scaler_y.inverse_transform(Y_pred_scaled)
print("R2 value =  {}".format(1 - mean_squared_error(Y_pred,y)/np.std(y)))

R2 value =  0.993802150755986

In [16]:
pca_poly = PCA(n_components = 5)
X_pca_poly = pca_poly.fit_transform(X_poly)
print("Explained Variance Ratio {}".format(100.0*np.sum(pca_poly.explained_variance_ratio_)))
Y_pred_scaled = cross_val_predict(linReg,X_pca_poly,Y_scaled,cv=5)
Y_pred = scaler_y.inverse_transform(Y_pred_scaled)
print("R2 value =  {}".format(1 - mean_squared_error(Y_pred,y)/np.std(y)))

Explained Variance Ratio 80.1970479189618
R2 value =  0.9922556571087223

In [17]:
Y_pred_scaled = cross_val_predict(linRegNorm,X_pca_poly,Y_scaled,cv=5)
Y_pred = scaler_y.inverse_transform(Y_pred_scaled)
print("R2 value =  {}".format(1 - mean_squared_error(Y_pred,y)/np.std(y)))

R2 value =  0.9922556571087223

In [18]:
model_cv = regr_cv.fit(X_pca, Y_scaled)
Y_pred_scaled = model_cv.predict(X_pca)
Y_pred = scaler_y.inverse_transform(Y_pred_scaled)
print("R2 value =  {}".format(1 - mean_squared_error(Y_pred,y)/np.std(y)))

R2 value =  0.9953025266869762

/home/harshv834/anaconda3/envs/ada/lib/python3.7/site-packages/sklearn/model_selection/_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [19]:
model_cv_norm = regr_cv_norm.fit(X_pca, Y_scaled)
Y_pred_scaled = model_cv_norm.predict(X_pca)
Y_pred = scaler_y.inverse_transform(Y_pred_scaled)
print("R2 value =  {}".format(1 - mean_squared_error(Y_pred,y)/np.std(y)))

R2 value =  0.9954265105610477

/home/harshv834/anaconda3/envs/ada/lib/python3.7/site-packages/sklearn/model_selection/_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [20]:
model_cv = regr_cv.fit(X_pca_poly, Y_scaled)
Y_pred_scaled = model_cv.predict(X_pca_poly)
Y_pred = scaler_y.inverse_transform(Y_pred_scaled)
print("R2 value =  {}".format(1 - mean_squared_error(Y_pred,y)/np.std(y)))

R2 value =  0.9950620374150885

/home/harshv834/anaconda3/envs/ada/lib/python3.7/site-packages/sklearn/model_selection/_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [21]:
model_cv_norm = regr_cv_norm.fit(X_pca_poly, Y_scaled)
Y_pred_scaled = model_cv_norm.predict(X_pca_poly)
Y_pred = scaler_y.inverse_transform(Y_pred_scaled)
print("R2 value =  {}".format(1 - mean_squared_error(Y_pred,y)/np.std(y)))

R2 value =  0.9948865433747988

/home/harshv834/anaconda3/envs/ada/lib/python3.7/site-packages/sklearn/model_selection/_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [22]:
parameters = {'kernel' :['rbf','linear','sigmoid','poly'],'C' : np.exp(np.arange(-6,6))}
estimator = SVR(gamma = 'auto')
clf = GridSearchCV(estimator,parameters,cv = 5,iid=True)
clf.fit(X_pca, Y_scaled.reshape(-1,))
Y_pred_scaled = clf.predict(X_pca).reshape(-1,1)
Y_pred = scaler_y.inverse_transform(Y_pred_scaled)
print("R2 value =  {}".format(1 - mean_squared_error(Y_pred,y)/np.std(y)))

R2 value =  0.9951755747821499

In [23]:
education_list = ['Colleges_universities_per_1000000', 'Junior_colleges_per_1000000', 
                  'Prof_schools_per_1000000', 'awards_per_value', 'exp_award_value', 'Intensive_top_230_score',
                  'High_School_Fee', 'Elementary_School_Fee']
health_list = ['Life_Expectancy', 'mc_donalds_per_100k', 'mean_obesity',
               'eating_vegetables_daily', 'eating_vegetables_daily', 'diabetes_prevalence', 'alcohol_prevalence',
               'mean_physical_activity', 'mean_obesity']
security_list = [ 'alcohol_prevalence', 'Homeless_per_100000', 'Violent_Crime',
                 'Murder_and_Manslaughter', 'Rape', 'Robbery', 'Aggravated_Assoult', 'Property_crime',
                 'Burglary', 'Theft', 'Motor_Vehicle_theft']
economy_list = ['Per_capita_income', 'mc_donalds_per_100k', 'Price_2018_Studio',
                'Price_2018_1br',  'Price_2018_2br', 'Price_2018_3br', 'Price_2018_4br', 'Homeless_per_100000',
                'Elementary_School_Fee', 'High_School_Fee']

In [24]:
df.columns

Index(['State', 'HDI', 'awards_per_value', 'exp_award_value',
       'High_School_Fee', 'Elementary_School_Fee',
       'Colleges_universities_per_1000000', 'Junior_colleges_per_1000000',
       'Prof_schools_per_1000000', 'Intensive_top_230_score',
       'Life_Expectancy', 'mc_donalds_per_100k', 'eating_vegetables_daily',
       'diabetes_prevalence', 'alcohol_prevalence', 'mean_physical_activity',
       'mean_obesity', 'Homeless_per_100000', 'Violent_Crime',
       'Murder_and_Manslaughter', 'Rape', 'Robbery', 'Aggravated_Assoult',
       'Property_crime', 'Burglary', 'Theft', 'Motor_Vehicle_theft',
       'Per_capita_income', 'Price_2018_Studio', 'Price_2018_1br',
       'Price_2018_2br', 'Price_2018_3br', 'Price_2018_4br'],
      dtype='object')

In [25]:
df_education = df[education_list]
df_health = df[health_list]
df_security = df[security_list]
df_economy = df[economy_list]

In [26]:
pca_comp = PCA(n_components=2)

In [27]:
cat_data_scaled = scaler_x.fit_transform(df_education)
cat_data_poly = poly.fit_transform(cat_data_scaled)
ed_feature = pca_comp.fit_transform(cat_data_scaled)
print("Explained Variance Ratio for Education {}".format(100.0*np.sum(pca_comp.explained_variance_ratio_)))
ed_feature_poly = pca_comp.fit_transform(cat_data_poly)
print("Explained Variance Ratio for Education Polynomial {}".format(100.0*np.sum(pca_comp.explained_variance_ratio_)))

cat_data_scaled = scaler_x.fit_transform(df_health)
cat_data_poly = poly.fit_transform(cat_data_scaled)
health_feature = pca_comp.fit_transform(cat_data_scaled)
print("Explained Variance Ratio for Health {}".format(100.0*np.sum(pca_comp.explained_variance_ratio_)))
health_feature_poly = pca_comp.fit_transform(cat_data_poly)
print("Explained Variance Ratio for Health Polynomial {}".format(100.0*np.sum(pca_comp.explained_variance_ratio_)))

cat_data_scaled = scaler_x.fit_transform(df_security)
cat_data_poly = poly.fit_transform(cat_data_scaled)
security_feature = pca_comp.fit_transform(cat_data_scaled)
print("Explained Variance Ratio for Security{}".format(100.0*np.sum(pca_comp.explained_variance_ratio_)))
security_feature_poly = pca_comp.fit_transform(cat_data_poly)
print("Explained Variance Ratio for Security Polynomial {}".format(100.0*np.sum(pca_comp.explained_variance_ratio_)))

cat_data_scaled = scaler_x.fit_transform(df_economy)
cat_data_poly = poly.fit_transform(cat_data_scaled)
economy_feature = pca_comp.fit_transform(cat_data_scaled)
print("Explained Variance Ratio for Economy{}".format(100.0*np.sum(pca_comp.explained_variance_ratio_)))
economy_feature_poly = pca_comp.fit_transform(cat_data_poly)
print("Explained Variance Ratio for Economy Polynomial {}".format(100.0*np.sum(pca_comp.explained_variance_ratio_)))

Explained Variance Ratio for Education 62.43629643598405
Explained Variance Ratio for Education Polynomial 60.63424340019754
Explained Variance Ratio for Health 79.0778544219737
Explained Variance Ratio for Health Polynomial 76.37189248700494
Explained Variance Ratio for Security73.20173188347201
Explained Variance Ratio for Security Polynomial 78.06684363670395
Explained Variance Ratio for Economy85.34571192207694
Explained Variance Ratio for Economy Polynomial 84.25926215053319

In [28]:
cat_data = pd.DataFrame(data = np.hstack((ed_feature,health_feature,security_feature,economy_feature)),\
                        columns = ["Education1","Education2","Health1","Health2","Security1","Security2","Economy1","Economy2"])
cat_data.head()

,Education1,Education2,Health1,Health2,Security1,Security2,Economy1,Economy2
0,-0.058614,0.518308,1.088307,-0.062581,0.433284,-0.366793,-0.598361,0.092652
1,0.439150,0.761389,-0.379155,-0.029016,0.872818,0.309678,0.261010,0.153895
2,-0.168710,-0.253282,-0.263936,-0.169542,0.258061,-0.066875,0.000732,-0.105762
3,-0.366289,0.119031,0.951237,0.061179,0.587030,-0.379195,-0.823032,0.261737
4,0.191689,-0.042024,-0.638627,-0.245933,0.198335,0.094236,1.512800,0.145417

In [29]:
cat_data_poly = pd.DataFrame(data = np.hstack((ed_feature_poly,health_feature_poly,security_feature_poly,economy_feature_poly)),\
                        columns = ["Education1","Education2","Health1","Health2","Security1","Security2","Economy1","Economy2"])
cat_data_poly.head()

,Education1,Education2,Health1,Health2,Security1,Security2,Economy1,Economy2
0,-0.229575,0.738826,2.207961,-0.245896,0.384528,-0.772236,-1.018544,0.125706
1,0.303915,1.114270,-0.784043,-0.019102,1.909214,-0.452232,0.219950,0.373881
2,-0.241620,-0.358124,-0.602901,-0.371477,0.244499,-0.254109,-0.309678,-0.123173
3,-0.516248,0.118484,2.038143,0.182909,0.688669,-1.091436,-1.219261,0.307282
4,0.204182,0.078507,-1.210237,-0.535429,0.231954,-0.050517,3.400586,0.693676

In [30]:
X_cat = cat_data.values
Y_pred_scaled = cross_val_predict(linReg,X_cat,Y_scaled,cv=5)
Y_pred = scaler_y.inverse_transform(Y_pred_scaled)
print("R2 value =  {} ".format(1 - mean_squared_error(Y_pred,y)/np.std(y)))

R2 value =  0.9927978989523064

In [31]:
Y_pred_scaled = cross_val_predict(linRegNorm,X_cat,Y_scaled,cv=5)
Y_pred = scaler_y.inverse_transform(Y_pred_scaled)
print("R2 value =  {}".format(1 - mean_squared_error(Y_pred,y)/np.std(y)))

R2 value =  0.9927978989523064

In [32]:
X_cat_poly = cat_data_poly.values
Y_pred_scaled = cross_val_predict(linReg,X_cat_poly,Y_scaled,cv=5)
Y_pred = scaler_y.inverse_transform(Y_pred_scaled)
print("R2 value =  {}".format(1 - mean_squared_error(Y_pred,y)/np.std(y)))

R2 value =  0.9930305992643044

In [33]:
Y_pred_scaled = cross_val_predict(linRegNorm,X_cat_poly,Y_scaled,cv=5)
Y_pred = scaler_y.inverse_transform(Y_pred_scaled)
print("R2 value =  {}".format(1 - mean_squared_error(Y_pred,y)/np.std(y)))

R2 value =  0.9930305992643044

In [34]:
model_cv = regr_cv.fit(X_cat, Y_scaled)
Y_pred_scaled = model_cv.predict(X_cat)
Y_pred = scaler_y.inverse_transform(Y_pred_scaled)
print("R2 value =  {}".format(1 - mean_squared_error(Y_pred,y)/np.std(y)))

R2 value =  0.9955201591498284

/home/harshv834/anaconda3/envs/ada/lib/python3.7/site-packages/sklearn/model_selection/_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [35]:
model_cv_norm = regr_cv_norm.fit(X_cat, Y_scaled)
Y_pred_scaled = model_cv_norm.predict(X_cat)
Y_pred = scaler_y.inverse_transform(Y_pred_scaled)
print("R2 value =  {}".format(1 - mean_squared_error(Y_pred,y)/np.std(y)))

R2 value =  0.9953299026190899

/home/harshv834/anaconda3/envs/ada/lib/python3.7/site-packages/sklearn/model_selection/_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [36]:
model_cv = regr_cv.fit(X_cat_poly, Y_scaled)
Y_pred_scaled = model_cv.predict(X_cat_poly)
Y_pred = scaler_y.inverse_transform(Y_pred_scaled)
print("R2 value =  {}".format(1 - mean_squared_error(Y_pred,y)/np.std(y)))

R2 value =  0.995515984107685

/home/harshv834/anaconda3/envs/ada/lib/python3.7/site-packages/sklearn/model_selection/_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [37]:
model_cv_norm = regr_cv_norm.fit(X_cat_poly, Y_scaled)
Y_pred_scaled = model_cv_norm.predict(X_cat_poly)
Y_pred = scaler_y.inverse_transform(Y_pred_scaled)
print("R2 value =  {}".format(1 - mean_squared_error(Y_pred,y)/np.std(y)))

R2 value =  0.9958035703700715

/home/harshv834/anaconda3/envs/ada/lib/python3.7/site-packages/sklearn/model_selection/_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [38]:
parameters = {'kernel' :['rbf','linear','sigmoid','poly'],'C' : np.exp(np.arange(-6,6))}
estimator = SVR(gamma = 'auto')
clf = GridSearchCV(estimator,parameters,cv = 5,iid=True)
clf.fit(X_cat, Y_scaled.reshape(-1,))
Y_pred_scaled = clf.predict(X_cat).reshape(-1,1)
Y_pred = scaler_y.inverse_transform(Y_pred_scaled)
print("R2 value =  {}".format(1 - mean_squared_error(Y_pred,y)/np.std(y)))

R2 value =  0.9953447085053553

In [39]:
df.head()

,State,HDI,awards_per_value,exp_award_value,High_School_Fee,Elementary_School_Fee,Colleges_universities_per_1000000,Junior_colleges_per_1000000,Prof_schools_per_1000000,Intensive_top_230_score,...,Property_crime,Burglary,Theft,Motor_Vehicle_theft,Per_capita_income,Price_2018_Studio,Price_2018_1br,Price_2018_2br,Price_2018_3br,Price_2018_4br
1,alabama,0.882,19.514493,63013.173913,7718.0,6388.0,8.636111,7.402381,3.289947,75.257541,...,2947.8,700.5,2006.3,241.1,38215.0,605.416667,659.000000,800.666667,1069.666667,1244.333333
2,alaska,0.942,18.414286,141431.142857,6118.0,7544.0,8.087409,1.347901,2.695803,39.089142,...,3353.0,546.3,2394.7,412.1,54430.0,814.333333,930.500000,1190.333333,1682.166667,2019.500000
3,arizona,0.912,25.563492,47830.888889,17339.0,6283.0,6.636781,6.203947,6.059670,30.154070,...,2978.4,544.4,2168.1,265.8,39955.0,701.000000,828.000000,1046.000000,1512.333333,1754.416667
4,arkansas,0.882,21.970833,51132.479167,6680.0,4698.0,8.700750,8.700750,10.708616,32.125848,...,3268.6,795.5,2233.6,239.4,39171.0,524.666667,571.166667,721.416667,977.583333,1144.833333
5,california,0.934,22.771429,63022.202857,19317.0,11363.0,6.726112,4.866240,6.089169,78.063660,...,2553.0,479.8,1623.0,450.3,54800.0,1212.333333,1426.333333,1818.916667,2519.250000,2926.333333

In [51]:
income = df[['Per_capita_income']].values
life_exp = df[['Life_Expectancy']].values

In [52]:
cat_data_scaled = scaler_x.fit_transform(df_health.drop(columns=['Life_Expectancy']))
cat_data_poly = poly.fit_transform(cat_data_scaled)
health_feature = pca_comp.fit_transform(cat_data_scaled)
print("Explained Variance Ratio for Health {}".format(100.0*np.sum(pca_comp.explained_variance_ratio_)))
health_feature_poly = pca_comp.fit_transform(cat_data_poly)
print("Explained Variance Ratio for Health Polynomial {}".format(100.0*np.sum(pca_comp.explained_variance_ratio_)))

cat_data_scaled = scaler_x.fit_transform(df_economy.drop(columns=['Per_capita_income']))
cat_data_poly = poly.fit_transform(cat_data_scaled)
economy_feature = pca_comp.fit_transform(cat_data_scaled)
print("Explained Variance Ratio for Economy{}".format(100.0*np.sum(pca_comp.explained_variance_ratio_)))
economy_feature_poly = pca_comp.fit_transform(cat_data_poly)
print("Explained Variance Ratio for Economy Polynomial {}".format(100.0*np.sum(pca_comp.explained_variance_ratio_)))

Explained Variance Ratio for Health 79.2968469507313
Explained Variance Ratio for Health Polynomial 78.64262506487249
Explained Variance Ratio for Economy86.97585805081401
Explained Variance Ratio for Economy Polynomial 84.55002176227758

In [53]:
cat_data = pd.DataFrame(data = np.hstack((ed_feature,health_feature,security_feature,economy_feature)),\
                        columns = ["Education1","Education2","Health1","Health2","Security1","Security2","Economy1","Economy2"])
cat_data.head()

,Education1,Education2,Health1,Health2,Security1,Security2,Economy1,Economy2
0,-0.058614,0.518308,0.958057,-0.069199,0.433284,-0.366793,-0.551912,0.078982
1,0.439150,0.761389,-0.369344,0.009942,0.872818,0.309678,0.216761,0.165305
2,-0.168710,-0.253282,-0.281465,-0.155203,0.258061,-0.066875,0.053852,-0.145769
3,-0.366289,0.119031,0.861096,0.143015,0.587030,-0.379195,-0.791009,0.274313
4,0.191689,-0.042024,-0.569011,-0.347160,0.198335,0.094236,1.508984,0.092013

In [55]:
cat_data_poly = pd.DataFrame(data = np.hstack((ed_feature_poly,health_feature_poly,security_feature_poly,economy_feature_poly)),\
                        columns = ["Education1","Education2","Health1","Health2","Security1","Security2","Economy1","Economy2"])
cat_data_poly.head()

,Education1,Education2,Health1,Health2,Security1,Security2,Economy1,Economy2
0,-0.229575,0.738826,2.031441,-0.253199,0.384528,-0.772236,-0.916601,0.140786
1,0.303915,1.114270,-0.764564,0.053603,1.909214,-0.452232,0.128979,0.343529
2,-0.241620,-0.358124,-0.658363,-0.276478,0.244499,-0.254109,-0.187715,-0.223471
3,-0.516248,0.118484,1.915518,0.230547,0.688669,-1.091436,-1.135626,0.408166
4,0.204182,0.078507,-1.101718,-0.548636,0.231954,-0.050517,3.328123,0.389112

In [56]:
X_cat = cat_data.values
Y_pred_scaled = cross_val_predict(linReg,X_cat,Y_scaled,cv=5)
Y_pred = scaler_y.inverse_transform(Y_pred_scaled)
print("R2 value =  {} ".format(1 - mean_squared_error(Y_pred,y)/np.std(y)))

R2 value =  0.9914909833441764

In [57]:
Y_pred_scaled = cross_val_predict(linRegNorm,X_cat,Y_scaled,cv=5)
Y_pred = scaler_y.inverse_transform(Y_pred_scaled)
print("R2 value =  {}".format(1 - mean_squared_error(Y_pred,y)/np.std(y)))

R2 value =  0.9914909833441764

In [58]:
X_cat_poly = cat_data_poly.values
Y_pred_scaled = cross_val_predict(linReg,X_cat_poly,Y_scaled,cv=5)
Y_pred = scaler_y.inverse_transform(Y_pred_scaled)
print("R2 value =  {}".format(1 - mean_squared_error(Y_pred,y)/np.std(y)))

R2 value =  0.9909374765052336

In [59]:
Y_pred_scaled = cross_val_predict(linRegNorm,X_cat_poly,Y_scaled,cv=5)
Y_pred = scaler_y.inverse_transform(Y_pred_scaled)
print("R2 value =  {}".format(1 - mean_squared_error(Y_pred,y)/np.std(y)))

R2 value =  0.9909374765052336

In [60]:
model_cv = regr_cv.fit(X_cat, Y_scaled)
Y_pred_scaled = model_cv.predict(X_cat)
Y_pred = scaler_y.inverse_transform(Y_pred_scaled)
print("R2 value =  {}".format(1 - mean_squared_error(Y_pred,y)/np.std(y)))

R2 value =  0.9944177292213305

/home/harshv834/anaconda3/envs/ada/lib/python3.7/site-packages/sklearn/model_selection/_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [61]:
model_cv_norm = regr_cv_norm.fit(X_cat, Y_scaled)
Y_pred_scaled = model_cv_norm.predict(X_cat)
Y_pred = scaler_y.inverse_transform(Y_pred_scaled)
print("R2 value =  {}".format(1 - mean_squared_error(Y_pred,y)/np.std(y)))

R2 value =  0.9942961879341193

/home/harshv834/anaconda3/envs/ada/lib/python3.7/site-packages/sklearn/model_selection/_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [62]:
model_cv = regr_cv.fit(X_cat_poly, Y_scaled)
Y_pred_scaled = model_cv.predict(X_cat_poly)
Y_pred = scaler_y.inverse_transform(Y_pred_scaled)
print("R2 value =  {}".format(1 - mean_squared_error(Y_pred,y)/np.std(y)))

R2 value =  0.9946332388955507

/home/harshv834/anaconda3/envs/ada/lib/python3.7/site-packages/sklearn/model_selection/_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [63]:
model_cv_norm = regr_cv_norm.fit(X_cat_poly, Y_scaled)
Y_pred_scaled = model_cv_norm.predict(X_cat_poly)
Y_pred = scaler_y.inverse_transform(Y_pred_scaled)
print("R2 value =  {}".format(1 - mean_squared_error(Y_pred,y)/np.std(y)))

R2 value =  0.9947391346097367

/home/harshv834/anaconda3/envs/ada/lib/python3.7/site-packages/sklearn/model_selection/_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [64]:
parameters = {'kernel' :['rbf','linear','sigmoid','poly'],'C' : np.exp(np.arange(-6,6))}
estimator = SVR(gamma = 'auto')
clf = GridSearchCV(estimator,parameters,cv = 5,iid=True)
clf.fit(X_cat, Y_scaled.reshape(-1,))
Y_pred_scaled = clf.predict(X_cat).reshape(-1,1)
Y_pred = scaler_y.inverse_transform(Y_pred_scaled)
print("R2 value =  {}".format(1 - mean_squared_error(Y_pred,y)/np.std(y)))

R2 value =  0.9914904357719951