# Milestone 2
In this milestone, our goal has been the collection, the cleaning and the analysis of the data in the datasets that we have decided to use for our project.

Given the high number of datasets that we have analyzed, we decided to perform the data cleaning process in separate files, in order to avoid one single notebook with a huge amount of lines of code, all independent from each other.

The notebook that we have written in order to clean and analyze the datasets are:
- crime.ipynb: a crime dataset is analyzed, we hope to extract good insights on the quality of life given the number of crimes committed in all states
- McDonalds.ipynb: a dataset of alimentation quality (number of fast food restaurants per state, obesity rate, people eating unhealthy).
- school_dataset.ipynb: a dataset with tuition fees of private schools and elementary schools. 
- homelessData.ipynb: We extracted homeless people figure from 2007 to 2018.
- rentData.ipynb: We selected the rent price of 2018 for 4 types of rents: 1, 2, 3 and 4 bedrooms, and studios.
- csv_datasets.ipynb: we analyze and extract features related to University rankings, life expectancy and personal income.

Every notebook output the final DataFrame in a Pickle file, which are all imported here.

In [42]:
import pandas as pd
import os

In [43]:
# We put all dataframes in a list
df_list = []

for pck in os.listdir("Pickles/"):
    # We avoid all files which are not pickle files (like .ipynb_checkpoints)
    if pck.endswith(".pickle"):
        df_list.append(pd.read_pickle("Pickles/" + pck))

In [44]:
for i in range(len(df_list)-1):
    
    # We want to be sure that all DataFrames have the column "State"
    if "State" in df_list[i].columns and "State" in df_list[i+1].columns:
        print("Correct")
    else:
        print("Incorrect")
    # we merge the left dataframe (position i) into the right dataset (i+1)
    df_list[i+1] = df_list[i].merge(df_list[i+1], left_on="State", right_on='State')
    
# At the end, the last dataframe in the list is the final merged DataFrame.

Correct
Correct
Correct
Correct
Correct
Correct

In [45]:
df = df_list[-1]
df.columns

Index(['index_x', 'State', 'Population_x', 'Violent_Crime',
       'Murder_and_Manslaughter', 'Rape', 'Robbery', 'Aggravated_Assoult',
       'Property_crime', 'Burglary', 'Theft', 'Motor_Vehicle_theft',
       'Price_2018_Studio', 'Price_2018_1br', 'Price_2018_2br',
       'Price_2018_3br', 'Price_2018_4br', 'index_y', 'mc_donalds_per_100k',
       'adult_obesity_rate', 'eating_vegetables_daily', 'median_income',
       'Vegetable', 'Population_y', 'Per_capita_income', 'Life_Expectancy',
       'N_of_colleges_universities', 'N_of_junior_colleges',
       'N_of_technical_trade_schools', 'awards_per_value', 'exp_award_value',
       'top_230_ranking_score', 'Overall Homeless, 2018',
       'Overall Homeless, 2017', 'Overall Homeless, 2016',
       'Overall Homeless, 2015', 'Overall Homeless, 2014',
       'Overall Homeless, 2013', 'Overall Homeless, 2012',
       'Overall Homeless, 2011', 'Overall Homeless, 2010',
       'Overall Homeless, 2009', 'Overall Homeless, 2008',
       'Overall Homeless, 2007', 'diabetes_prevalence', 'alcohol_prevalence',
       'mean_physical_activity', 'mean_obesity', 'High_School_Fee',
       'Elementary_School_Fee'],
      dtype='object')

We noticed that some columns are repeated: therefore we drop duplicate columns.

In [46]:
# Rename the column Population_x into population, and drop index_x, index_y and Population_y
df = df.rename(columns = {
    "Population_x": "Population",
})

df = df.drop(['index_x', 'index_y', 'Population_y', 'median_income'], axis=1)

df.head()

,State,Population,Violent_Crime,Murder_and_Manslaughter,Rape,Robbery,Aggravated_Assoult,Property_crime,Burglary,Theft,...,"Overall Homeless, 2010","Overall Homeless, 2009","Overall Homeless, 2008","Overall Homeless, 2007",diabetes_prevalence,alcohol_prevalence,mean_physical_activity,mean_obesity,High_School_Fee,Elementary_School_Fee
0,Alabama,4863300,532.3,8.4,39.4,96.4,388.2,2947.8,700.5,2006.3,...,6046,6080,5387,5452,16.19,43.6,49.5,39.75,7633,6388
1,Alaska,741894,804.2,7.0,141.9,114.6,540.6,3353.0,546.3,2394.7,...,1863,1992,1646,1642,11.89,59.5,59.8,35.70,6118,7544
2,Arizona,6931071,470.1,5.5,47.5,101.8,315.4,2978.4,544.4,2168.1,...,13711,14721,12488,14646,13.72,55.8,59.5,33.10,17339,6300
3,Arkansas,2988248,550.9,7.2,71.7,70.9,401.0,3268.6,795.5,2233.6,...,2762,2852,3255,3836,15.23,43.7,51.3,38.25,6580,4724
4,California,39250017,445.3,4.9,34.9,139.6,265.9,2553.0,479.8,1623.0,...,123480,123678,136531,138986,14.51,56.5,61.3,31.15,19235,11360

In [47]:
df.columns

Index(['State', 'Population', 'Violent_Crime', 'Murder_and_Manslaughter',
       'Rape', 'Robbery', 'Aggravated_Assoult', 'Property_crime', 'Burglary',
       'Theft', 'Motor_Vehicle_theft', 'Price_2018_Studio', 'Price_2018_1br',
       'Price_2018_2br', 'Price_2018_3br', 'Price_2018_4br',
       'mc_donalds_per_100k', 'adult_obesity_rate', 'eating_vegetables_daily',
       'Vegetable', 'Per_capita_income', 'Life_Expectancy',
       'N_of_colleges_universities', 'N_of_junior_colleges',
       'N_of_technical_trade_schools', 'awards_per_value', 'exp_award_value',
       'top_230_ranking_score', 'Overall Homeless, 2018',
       'Overall Homeless, 2017', 'Overall Homeless, 2016',
       'Overall Homeless, 2015', 'Overall Homeless, 2014',
       'Overall Homeless, 2013', 'Overall Homeless, 2012',
       'Overall Homeless, 2011', 'Overall Homeless, 2010',
       'Overall Homeless, 2009', 'Overall Homeless, 2008',
       'Overall Homeless, 2007', 'diabetes_prevalence', 'alcohol_prevalence',
       'mean_physical_activity', 'mean_obesity', 'High_School_Fee',
       'Elementary_School_Fee'],
      dtype='object')

# What comes next?

Now that we have all datasets cleaned and analyzed, we can further proceed in the realization of our project: firstly, we need to train a model which will enable us to predict the HDI index of every state of the USA, based on the dataset that we have created.

This task is going to pose some challenges: in fact, our dataset has much more dimensions than samples and therefore there is going to be the risk of overfitting.

We can try to counter this effect by performing some dimensionality reduction algorithms like PCA, Factor Analysis or Independent Component Analysis.

As soon as we manage to reduce the dimension of our dataset, we can train the model using any regression technique like SVM or Ridge Regression.

Once we compute the weights for our model, then we can build our index by adjusting the weights of our model to personalize it to the users' needs. We will offer a visual representation of it using sliders, so that the user can adjust the weights in an intuitive manner.

Further, we may try to split our features into meaningful subsets (health, crime, education, monetary) in order to gauge their impact on our final HDI score. Moreover, we may try to investigate the relation among the above subsets and the actual features used to compute the UN HDI index (personal income, life expectancy and average years of education).

To conclude, a further improvement could be trying to test the robustness of our model: it means that, whenever we drop any column (for instance if it happens that any of the organizations computing our metrics fails), we are still able to learn a good enough predictor for the HDI. The fact that our dataset has so many correlated features means that probably we can manage the loss of some columns, without losing much accuracy.